@model List<Blog>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-header">Bloglar</h5>
                <a asp-action="Create" class="btn rounded-pill btn-primary text-white " style="margin-right:20px">Yarat</a>
            </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table id="myTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Şəkil</th>
                                <th>Başlıq</th>
                                <th>Kategoriya</th>
                                <th>Tarix</th>
                                <th >Status</th>
                                <th style="text-align:right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Blog item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/img/@item.Image" style="width:80px;height:80px;" />
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.BlogCategory.Name
                                    </td>
                                    <td>
                                        @item.CreateTime.ToString("hh : mm")
                                    </td>
                                  
                                    <td>
                                        @if (item.IsDeActive)
                                        {
                                            <span class="text-danger">Passiv</span>
                                        }
                                        else
                                        {
                                            <span class="text-success">Active</span>
                                        }
                                    </td>
                                    <td>

                                        <div class="d-flex justify-content-end">

                                            <a asp-action="Update" asp-route-id="@item.Id" class="btn rounded-pill  btn-info text-white" style="margin-right:5px">Edit</a>

                                            @if (item.IsDeActive)
                                            {
                                                <a asp-action="Activity" asp-route-id="@item.Id" class="btn rounded-pill  btn-success text-white" style="margin-right:5px;width:120px">Aktiv et</a>
                                            }
                                            else
                                            {
                                                <a asp-action="Activity" asp-route-id="@item.Id" class="btn rounded-pill  btn-danger text-white" style="margin-right:5px;width:120px">De Aktiv</a>

                                            }
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center mt-3">
                        <nav aria-label="...">
                            <ul class="pagination">
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)" aria-disabled="true">Geri</a>
                                    </li>

                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Geri</a>
                                    </li>
                                }
                                @for (int i = 1; i <= ViewBag.PageCount; i++)
                                {
                                    if (ViewBag.CurrentPage == i)
                                    {
                                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">@i</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>

                                    }
                                }

                                @if (ViewBag.CurrentPage < (int)ViewBag.PageCount)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)">İrəli</a>
                                    </li>

                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link">İrəli</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>