@model Product
@{
    int reqem = 2;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Məhsul Yarat</h4>
        <p class="card-description">
            Basic form elements
        </p>
        <div class="d-flex flex-wrap">
            @if (Model.ProductImages.Count != 1)
            {
                @foreach (ProductImage productImage in Model.ProductImages)
                {
                    <div class="d-flex flex-column m-2" id="myPhotos">
                        <img style="width:100px;height:100px;" src="~/img/@productImage.Image" />
                        <a class="btn btn-danger del-images">Delete</a>
                        <input type="hidden" value="@productImage.Id" />
                    </div>

                }

            }
            else
            {
                @foreach (ProductImage productImage in Model.ProductImages)
                {
                    <div class="d-flex flex-column m-2" id="myPhotos">
                        <img style="width:100px;height:100px;" src="~/img/@productImage.Image" />

                    </div>

                }
            }

        </div>
        <form method="post" class="forms-sample" enctype="multipart/form-data">
            <div class="form-group">
                <label class="form-label" asp-for="Photos"></label>
                <input asp-for="Photos" class="form-control">
                <span class="text-danger" asp-validation-for="Photos"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name">Məhsulun Adı</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span class=" text-danger" asp-validation-for="Name"></span>

            </div>
            <div class="form-group">
                <label asp-for="ProductDetail.Material">Məhsulun Materialı</label>
                <input asp-for="ProductDetail.Material" type="text" class="form-control" />
                <span class=" text-danger" asp-validation-for="ProductDetail.Material"></span>

            </div>
            <div class="form-group">
                <label asp-for="Price">Məhsulun Qiyməti</label>
                <input asp-for="Price" class="form-control" />
                <span class=" text-danger" asp-validation-for="Price"></span>

            </div>
            <div class="form-group" id="MainBox">
                <label> Məhsulun aid olduğu kategoriya</label>
                <select multiple class="form-control" name="catId">
                    @foreach (Category cat in ViewBag.Categories)
                    {
                        if (Model.ProductCategories.Any(x => x.CategoryId == cat.Id))
                        {
                            <option selected value="@cat.Id">@cat.Name</option>

                        }
                        else
                        {
                            <option value="@cat.Id">@cat.Name</option>

                        }

                    }

                </select>
            </div>
            <div class="form-group">
                <label>Məhsulun Brendi</label>
                <select class="form-control" name="brandId">
                    @foreach (Brand brand in ViewBag.Brands)
                    {
                        if (Model.BrandId == brand.Id)
                        {
                            <option selected value="@brand.Id">@brand.Name</option>

                        }
                        else
                        {
                            <option value="@brand.Id">@brand.Name</option>

                        }
                    }

                </select>
            </div>
            <div class="form-group">
                <label> Məhsulun Teqləri</label>
                <select multiple class="form-control" name="tagsId[]">
                    @foreach (Tag tag in ViewBag.Tags)
                    {
                        if (Model.ProductTags.Any(x => x.TagId == tag.Id))
                        {
                            <option selected value="@tag.Id">@tag.Name</option>

                        }
                        else
                        {
                            <option value="@tag.Id">@tag.Name</option>

                        }
                    }
                </select>
            </div>

            <div style="text-align:center">Məhsulun xüsusiyyətləri</div>

            <!-- Mövcud xüsusiyyətlər -->
            <div id="productFeaturesContainer">
                @for (int i = 0; i < Model.ProductFeatures.Count; i++)
                {
                    <div class="form-group row feature-form">
                        <div class="col">
                            <label for="ProductFeatures[@i].Name" class="control-label">Məhsulun xüsusiyyətinin adı</label>
                            <input name="ProductFeatures[@i].Name" value="@Model.ProductFeatures[i].Name" class="form-control" />
                            <input type="hidden" name="ProductFeatures[@i].Id" value="@Model.ProductFeatures[i].Id" />
                            <span asp-validation-for="ProductFeatures[@i].Name" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label for="ProductFeatures[@i].Value" class="control-label">Məhsulun xüsusiyyətinin dəyəri</label>
                            <input name="ProductFeatures[@i].Value" value="@Model.ProductFeatures[i].Value" class="form-control" />
                            <span asp-validation-for="ProductFeatures[@i].Value" class="text-danger"></span>
                        </div>
                    </div>
                }
            </div>

            <div id="productFeaturesContainer">
                <!-- Mövcud xüsusiyyətlər buraya gələcək (HTML tərəfindən render olunur) -->
            </div>

            <div class="text-center mt-3">
                <span>Məhsul xüsusiyyətini artırıb azaltmaq üçün düymələrdən istifadə edin</span>
                <div class="d-flex justify-content-center mt-2">
                    <button type="button" id="addFeatureBtn" class="btn btn-primary" style="margin-right: 5px;">+</button>
                    <button type="button" id="removeFeatureBtn" class="btn btn-danger">-</button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProductDetail.Description">Məhsul haqqında məlumat</label>
                <textarea asp-for="ProductDetail.Description" class="form-control"></textarea>
                <span class=" text-danger" asp-validation-for="ProductDetail.Description"></span>

            </div>
            <div class="form-group">
                <label asp-for="ProductDetail.HasStock">Məhsul stokda var yoxsa yox?</label>
                <input asp-for="ProductDetail.HasStock" />
                <span class=" text-danger" asp-validation-for="ProductDetail.HasStock"></span>

            </div>

            <button type="submit" class="btn btn-primary me-2">Send</button>
            <a asp-action="Index" class="btn btn-secondary text-white">Go Back</a>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            // Mövcud xüsusiyyətlərin sayını təyin edir
            let featureCount = $('#productFeaturesContainer .feature-form').length;

            // Mövcud xüsusiyyətləri `existing-feature` olaraq qeyd edirik
            $('#productFeaturesContainer .feature-form').addClass('existing-feature');

            // Yeni xüsusiyyət əlavə etmək funksiyası
            $('#addFeatureBtn').click(function () {
                // Əgər heç bir xüsusiyyət yoxdursa, `featureCount` sıfırdan başlayacaq
                if (featureCount === 0) {
                    featureCount = 0;
                }

                $('#productFeaturesContainer').append(`
                        <div class="form-group row feature-form new-feature" id="feature-${featureCount}">
                            <div class="col">
                                <label for="ProductFeatures[${featureCount}].Name" class="control-label">Məhsulun xüsusiyyətinin adı</label>
                                <input name="ProductFeatures[${featureCount}].Name" class="form-control" />
                            </div>
                            <div class="col">
                                <label for="ProductFeatures[${featureCount}].Value" class="control-label">Məhsulun xüsusiyyətinin dəyəri</label>
                                <input name="ProductFeatures[${featureCount}].Value" class="form-control" />
                            </div>
                        </div>
                    `);
                featureCount++; // Hər yeni xüsusiyyət əlavə olunduqdan sonra say artırılır
            });

            // Yalnız yeni xüsusiyyətləri silmək funksiyası
            $('#removeFeatureBtn').click(function () {
                const $newFeatures = $('#productFeaturesContainer .new-feature'); // Yalnız yeni xüsusiyyətləri seçirik

                if ($newFeatures.length > 0) { // Əgər yeni xüsusiyyət varsa
                    $newFeatures.last().remove(); // Yalnız son əlavə edilmiş yeni xüsusiyyəti silirik
                    featureCount--; // Yalnız yeni xüsusiyyətlər üçün sayıcıyı azaldırıq
                }
            });
        });

        //     let featureCount = @Model.ProductFeatures.Count - 1;

        //     $('#addFeatureBtn').click(function () {
        //         featureCount++; // İndeksi artırırıq
        //         $('#newProductFeaturesContainer').append(`
        //             <div class="form-group row feature-form">
        //                 <div class="col">
        //                     <label for="ProductFeatures[${featureCount}].Name">Yeni Xüsusiyyət Adı</label>
        //                     <input type="text" name="ProductFeatures[${featureCount}].Name" class="form-control" />
        //                     <input type="hidden" name="ProductFeatures[${featureCount}].Id" value="" /> <!-- Id dəyəri burada boş olacaq -->
        //                 </div>
        //                 <div class="col">
        //                     <label for="ProductFeatures[${featureCount}].Value">Yeni Xüsusiyyət Dəyəri</label>
        //                     <input type="text" name="ProductFeatures[${featureCount}].Value" class="form-control" />
        //                 </div>
        //             </div>
        //         `);
        //     });
        //     $('#removeFeatureBtn').click(function () {
        //         if (featureCount > 0) {  // Sonuncu xüsusiyyəti silmək üçün yoxlayırıq ki, ən azı bir xüsusiyyət olsun
        //             $('#productFeaturesContainer .feature-form:last').remove();  // Sonuncu formu silirik
        //             featureCount--;  // Xüsusiyyət sayını azaldırıq
        //         }
        //     });
        // });
        $(document).on("click", ".del-images", function () {
            let clickedBtn = $(this);
            $.ajax({
                url: "/Admin/Products/DeleteImage/",
                type: "get",
                data: {
                    "proImageId": clickedBtn.next().val()
                },
                success: function (res) {
                    clickedBtn.parent().remove();
                    if ($(".del-images").length == 1) {
                        $(".del-images").remove();
                    }
                }
            });
        });
    </script>
}